<h1>Create your cocktail</h1>


<div class="form">
  <%= simple_form_for @cocktail do |c| %>
  <%= c.input :name %>
  <%= c.input :photo %>
  <%= c.input :photo_cache, as: :hidden %>
  <%= c.submit %>
  <% end %>
</div>


